@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #EA2027;
    --blue: #333586;
    --darkBlue: #192a56;
    --lightblue: #dde1ebda;
    --grey: #e5ebf0;
    --pink: #f5d9d9;
    --orange: #ff793f;
    --green: #079992;
    --primaryBrown: #8d1629;
    --primaryGrey: #5f6064;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION STYLE */

/* before scroll */
#navbar {
    box-shadow: 0 8px 6px -8px black;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

#navbar .nav-link {
    color: white;
    transition: color 0.3s ease;
    transition: background-color 0.4s ease;
}

nav button i {
    color: white !important;
    font-size: 28px !important;

}

#navbar .contact-buttons button {
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}

#navbar .contact-buttons button:hover {
    color: black;
    border: 1px solid white;
    background-color: white;
}

.nav-item:hover .nav-link {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.664) !important;
}

/* After Scroll */
.scrolled {
    background-color: white !important;
}

.scrolled div #navigation .nav-link {
    color: black !important;
}

.scrolled .contact-buttons button {
    color: var(--primaryBrown) !important;
    border: 1px solid var(--primaryBrown) !important;
    transition: 0.4s;
}

.scrolled .contact-buttons button:hover {
    color: white !important;
    border: 1px solid var(--primaryBrown) !important;
    background-color: var(--primaryBrown) !important;
}

.scrolled div #navigation .nav-link:hover {
    color: white !important;
    background-color: var(--primaryBrown) !important;
}

/* HOME SECTION STYLE */
#home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.37)), url(images/home_background.png);
}

#home>div {
    position: relative;
    animation-name: home;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#home p {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
    padding: 7px 0;
}

#home h1 {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
    opacity: 0.9;
    padding: 7px 0;
}

#home button {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: 0.4s;
}

#home button:hover {
    color: black;
    border: 1px solid white;
    background-color: white;
}

.social-icons i {
    color: white;
    padding: 24px;
    font-size: 28px !important;
    transition: 0.2s;
    border-radius: 50%;
}

.social-icons i:hover {
    background-color: white;
    color: black;
}

@keyframes home {
    from {
        top: 150px;
    }

    to {
        top: 0px;
    }
}

#production {
    border-bottom: 2px solid lightgrey;
}

.sub-heading {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.message {
    padding: 20px 0;
    text-align: justify;

    font-size: 20px;
    font-weight: 400;
    text-indent: 60px;
}

.about div p {
    text-align: center !important;
    font-size: 35px;
    color: var(--primaryGrey);
    font-weight: 600;
}

.about>p {
    font-size: 20px;
    text-align: justify;
}

/* BRAND SECTION STYLE */
#brands {
    border-bottom: 2px solid lightgrey;
}

#brands p {
    text-align: center !important;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: var(--primaryGrey);
    font-weight: 700;
}

/* CONTACT SECTION STYLE*/
#contact>p {
    text-align: center !important;
    font-size: 35px;
    color: var(--primaryGrey);
    font-weight: 600;
}

#contact a {
    text-decoration: none;
    color: black;

}

#contact #info .name {
    font-size: 30px;
    color: var(--primaryBrown);
    font-weight: 500;
}

#contact i {
    color: var(--primaryBrown);
    padding-right: 8px;
    font-size: 18px !important;
}

/* FOOTER STYLE */
footer {
    background-color: var(--lightblue);
}

@media only screen and (max-width: 576px) {
    nav {
        padding: 10px 30px !important;
    }

    nav div {
        padding: 7px 15px !important;

    }

    nav div img {
        height: 60px !important;
    }

    #navbar .nav-link {
        background-color: var(--primaryGrey);
        margin: 4px !important;
    }

    nav .contact-buttons {
        display: none;
    }

    .scrolled button i {
        color: var(--primaryBrown) !important;
    }

    .scrolled .nav-link {
        background-color: transparent !important;
    }

    .scrolled .nav-link:hover {
        color: white !important;
        background-color: var(--primaryBrown) !important;
    }

    #home {
        padding: 25px !important;
    }

    #home img {
        margin-top: 75px !important;
    }

    #home .title {
        font-size: 26px;
    }

    #home .h1 {
        font-size: 21px !important;

    }

    .about div p {
        font-size: 26px !important;
    }

    #production,
    #brands,
    #contact {
        padding: 0 25px !important;
    }

    .sub-heading {
        font-size: 25px !important;
    }

    .about>p,
    .message {
        font-size: 17.5px !important;
    }

    #production img {
        margin-bottom: 20px !important;
    }

    #contact #info .name {
        font-size: 24px;
        color: var(--primaryBrown);
        font-weight: 500;
        margin: 10px 0 !important;
    }

    #brands p,
    #contact>p {
        font-size: 26px;
    }
}